@media screen and (max-width: 568px) {
  .check-res {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .check-img {
    width: 100%;
    height: 200px;
  }
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
  }
  .text-font {
    font-size: 1rem !important;
    font-weight: 400;
    color: rgb(28 127 2);
  }
  .title{
    font-size: 1.3rem !important;
    font-weight: 500;
    color: rgb(28 127 2);
    text-transform: capitalize;
  }
  .price{
    font-size: 1.3rem !important;
    font-weight: 500;
    color: red;
  }
}
